@model IEnumerable<PetStore.Models.Animal>

    @{
        ViewBag.Title = "index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="col-lg-10">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Animal Stock</h2>
            </div>
            <div class="panel-body">
                <div class="col-md-8 col-md-offset-1">


                    <table class="table">
                        <tr>
                            <td>
                                Name
                            </td>
                            <td>
                                Age
                            </td>
                            <td>
                                Sex
                            </td>
                            <td>
                                Animal Type
                            </td>
                            <td>
                                ID
                            </td>
                            <td>
                                Date Arrived
                            </td>
                        </tr>
                        @foreach (var m in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => m.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => m.Age)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => m.SexId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => m.AnimalTypeString)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => m.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => m.Date_Arrived)
                                </td>
                                <td>
                                    @Html.ActionLink("Sell Animal", "SellAnimal", "AnimalStock", new { id = m.Id }, null)
                                </td>
                            </tr>

                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

