@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PetShop Home</h2>

@Html.ActionLink("Add Animal", "AddAnimal", "AnimalStock") </br>
@Html.ActionLink("End of Day Report", "EODReport", "AnimalStock") </br>
@Html.ActionLink("Sell Animal", "SellAnimal", "AnimalStock") </br>
@Html.ActionLink("Vaccinate Check", "index", "VaccinationCheck") </br>
@Html.ActionLink("Vaccinate Animal", "VaccinateAnimal", "VaccinationCheck") </br>