@model PetStore.Models.Animal

@{
    ViewBag.Title = "AddAnimal";
}

<h2>AddAnimal</h2>

@using (Html.BeginForm("AnimalAdded"))
{
    <ol>
        <li>
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
        </li>
        <li>
            @Html.LabelFor(m => m.Age)
            @Html.TextBoxFor(m => m.Age)
        </li>
        <li>           
            @Html.LabelFor(m => m.Sex)
            @Html.EnumDropDownListFor(m => m.SexId)
        </li>
        <li>
            @Html.LabelFor(m => m.TypeID)
            @Html.TextBoxFor(m => m.TypeID)
        </li>
    </ol>
    
    <input type="submit" value="Add Animal" />
    
}


